<!-- Button trigger modal -->
<button type="button" class="btn btn-secondary mb-4" data-bs-toggle="modal" data-bs-target="#modalProduct">
  Add new product
</button>

<!-- Modal -->
<div class="modal fade" id="modalProduct" tabindex="-1" aria-labelledby="modalProductLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalProductLabel">Product</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" aria-describedby="name">
          </div>
          <div class="mb-3">
            <label for="unitPrice" class="form-label">Unit Price</label>
            <input type="number" min="0" class="form-control" id="unitPrice" aria-describedby="name">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="sendProduct()">Save</button>
      </div>
    </div>
  </div>
</div>